<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mounacheikhna.ctc">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


  <application
      android:name=".StarWarsApp"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:supportsRtl="true"
      android:theme="@style/StarWars">

    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:theme="@style/StarWars.MainActivity"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity android:name=".ui.resource.ResourceActivity"
        android:theme="@style/StarWars.ResourceActivity"
        android:parentActivityName=".MainActivity">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity" />
    </activity>

    <activity android:name=".ui.film.FilmActivity"
        android:parentActivityName=".ui.resource.ResourceActivity">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ui.resource.ResourceActivity" />
    </activity>
  </application>

</manifest>
